.giveaway-img {
  width: 580px;
  max-width: 100%;
  border-radius: 16px;
  margin-top: 14px;

  @include mobile {
    border-radius: 0;
  }
}

.giveaway-info-icon {
  font-size: 20px;
  margin-right: 11px;

  @include mobile {
    margin-left: 10px;
  }
}

.giveaway-aside-info {
  width: 605px;
  max-width: 95%;
  padding-left: 80px;
  padding-top: 70px;

  @include mobile {
    padding-left: 10px;
    padding-top: 30px;
  }

  @include tablet {
    padding-top: 40px;
  }
}

.pending-alert-button {
  width: 252px;
  height: 35px;
  background-color: #ee5849 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: none !important;
  margin-left: 20px !important;

  @include mobile {
    margin: 20px !important;
  }
}

.pending-alert-button:hover {
  opacity: 0.9;
}

.aside-title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: '#282655' !important;
}

.aside-text {
  font-size: 16px !important;
  margin-top: 5px !important;
}

.qr-container {
  width: 100%;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.share-giveaway-btn {
  width: 290px;
  height: 40px;
  text-transform: none !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.qr-share-icon {
  width: 19px;
}

.winning-chance {
  color: $dark-color;
  font-size: 18px;
  margin-left: 38px;
}
