#create-new-accordion {
  width: 175px;
  border-radius: 10px;
  background-color: transparent;

  &-summary {
    padding: 0;
    margin: 0;
    min-height: 40px;

    .MuiAccordionSummary-content {
      margin: 0;
      background-color: $primary-color;
      border-radius: 10px;
    }
  }

  .accordion-details {
    padding: 0;
    margin-top: 9px;
  }
}

.create-new-button {
  text-transform: none !important;
  width: 175px;
  height: 40px;
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.create-new-options {
  background-color: white;
  border-radius: 10px;

  &-button {
    height: 40px;
    width: 100%;
    text-transform: none !important;
    font-size: 14px !important;
    color: black !important;
    justify-content: flex-start !important;
    padding-left: 14px !important;
  }

  &-icon {
    color: #8e8eba;
  }
}

.empty-state-container {
  height: calc(100vh - $app-bar-height - 2 * $app-bar-padding);

  .img {
    width: 160px;
  }

  .welcome {
    font-size: 20px !important;
    font-weight: bold !important;
    padding-top: 50px;
  }

  .description {
    font-size: 20px !important;
    padding-top: 10px;
    max-width: 400px;
    text-align: center;
  }
}

.empty-state-create-new {
  padding-top: 42px;
}

.giveaways-subheader-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  height: 70px;

  @include mobile {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
  }
}

.giveaways-title {
  font-size: 28px !important;
  font-weight: 800 !important;
  text-decoration: none;

  @include mobile {
    padding-bottom: 10px;
  }
}

.card-container {
  border-radius: 1.2rem !important;
  box-shadow: 0 !important;
  position: relative !important;
}

.card-media {
  position: relative;

  .thumbnail-img {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }

  .winner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $transparent-primary-color;

    .winner-icon {
      width: 60px;
    }

    .winner-message {
      font-weight: bold;
      font-size: 18px;
      color: white;
    }
  }
  .invalid-giveaway {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mustard-yellow;

    .invalid-icon {
      width: 60px;
    }

    .invalid-message {
      font-weight: bold;
      font-size: 18px;
      color: white;
    }
  }
}

.giveaway-card {
  .giveaway-title {
    -webkit-line-clamp: 1;
    margin-top: 5px;
  }

  .description {
    height: 95px;
    -webkit-line-clamp: 4;
    margin-top: 6px;
    color: $dark-color;
  }

  .prize {
    -webkit-line-clamp: 1;
    margin-top: 14px;
    color: $dark-color;
  }

  .date,
  .winners,
  .participants {
    margin-top: 12px;
    color: $dark-color;
  }
}

.countdown-card {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-top: 25px;
  overflow: hidden;
  flex-wrap: wrap;

  .img {
    height: 265px;
    width: 333px;
    object-fit: cover;
  }

  .info-container {
    width: 40%;
    color: $dark-color;

    margin-top: 25px;
    margin-left: 35px;

    @include mobile {
      width: 90%;
      margin-top: 15px;
      margin-left: 20px;
    }
  }

  .description {
    height: 100px;
    margin-top: 9px;
    color: $dark-color;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .trophy {
    margin-top: 20px;
  }

  .calendar {
    margin-top: 10px;
  }

  span[role='img'] {
    margin-right: 5px;
  }
}

.countdown-box-container {
  align-items: end;
  margin-right: 18px;
  margin-left: auto;

  @include mobile {
    margin: 0px;
    width: 100%;
    align-items: center;
  }

  @include tablet {
    width: 100%;
    align-items: center;
  }
}

.countdown-box {
  width: 350px;
  height: 229px;
  background-color: $primary-color;
  border-radius: 10px;
  margin-top: 18px;

  @include mobile {
    width: 95%;
    margin: 0px;
    padding: 2.5%;
    margin-top: 20px;
  }

  @include tablet {
    margin-right: 0;
    margin-left: 0;
  }

  .timer-container {
    color: white;
    margin-top: 20px;

    .square {
      width: 45px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: $dark-color;
      font-size: 30px;
      border-radius: 5px;
    }
  }

  .hourglass-img {
    width: 136px;

    @include mobile {
      width: 110px;
    }
  }
}

.watch-giveaway-btn {
  color: white !important;
  text-transform: none !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  margin-left: 5px !important;
  margin-bottom: 10px !important;

  @include mobile {
    margin-bottom: 0 !important;
  }
}

.card-pending-approvals {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999999;
}
