.participant-entry-container {
  width: 650px;
  height: 60px;
  background-color: white;
  max-width: 90vw;

  @include mobile {
    height: 90px;
  }

  .participant-name {
    font-size: 20px;
    font-weight: 500;
    padding-left: 21px;
  }

  .action-button {
    height: 39px;
    font-weight: 700;
    text-transform: none !important;
    font-size: 18px;
    border-radius: 10px !important;
    margin: 5px;

    &.reject {
      width: 98px;
      background-color: rgba(238, 88, 73, 0.2);
      color: #ee5849;
    }

    &.approve {
      width: 121px;
      background-color: rgba(18, 187, 106, 0.18);
      color: #12bb6a;
    }

    &.disabled {
      background-color: #cccccc;
      color: #666666;
    }

    &.reject:hover {
      background-color: rgb(238, 88, 73);
      color: white;
    }

    &.approve:hover {
      background-color: rgb(18, 187, 106);
      color: white;
    }
  }
}

.pending-users-container {
  background-color: white;
  margin-left: 75px;
  padding: 0 10px;
  width: fit-content;
  border-radius: 10px;

  @include mobile {
    margin-left: 10px;
  }
}

.no-pending-participants-msg {
  font-size: 20px !important;
  margin-left: 75px !important;

  @include mobile {
    margin-left: 10px !important;
  }
}
