.participant-entry-container {
  width: 650px;
  height: 60px;
  background-color: white;
  max-width: 90vw;

  @include mobile {
    height: 90px;
  }

  .participant-name {
    font-size: 20px;
    font-weight: 500;
    padding-left: 21px;
  }

  .action-button {
    height: 39px;
    font-weight: 700;
    text-transform: none !important;
    font-size: 18px;
    border-radius: 10px !important;
    margin: 5px;

    &.reject {
      width: 98px;
      background-color: $fire-opal-light;
      color: $fire-opal;
    }

    &.approve {
      width: 121px;
      background-color: $green-crayola-light;
      color: $green-crayola;
    }

    &.disabled {
      background-color: $chinese-silver;
      color: $granite-gray;
    }

    &.reject:hover {
      background-color: $fire-opal;
      color: white;
    }

    &.approve:hover {
      background-color: $green-crayola;
      color: white;
    }
  }
}

.pending-users-container {
  background-color: white;
  margin-left: 75px;
  padding: 0 10px;
  width: fit-content;
  border-radius: 10px;

  @include mobile {
    margin-left: 10px;
  }
}

.no-pending-participants-msg {
  font-size: 20px !important;
  margin-left: 75px !important;

  @include mobile {
    margin-left: 10px !important;
  }
}
