@import '../foundation.scss';

#create-new-accordion {
  width: 175px;
  border-radius: 10px;
  background-color: transparent;
}

#create-new-accordion-summary {
  padding: 0;
  margin: 0;
  min-height: 40px;
}

#create-new-accordion .accordion-details {
  padding: 0;
  margin-top: 9px;
}

#create-new-accordion-summary .MuiAccordionSummary-content {
  margin: 0;
  background-color: $primary-color;
  border-radius: 10px;
}

.create-new-button {
  text-transform: none !important;
  width: 175px;
  height: 40px;
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.create-new-options {
  background-color: white;
  border-radius: 10px;
}

.create-new-option-button {
  height: 40px;
  width: 100%;
  text-transform: none !important;
  font-size: 14px !important;
  color: black !important;
  justify-content: flex-start !important;
  padding-left: 14px !important;
}

.create-new-option-icon {
  color: #8e8eba;
}

.empty-state-admin {
  height: calc(100vh - $app-bar-height - 2 * $app-bar-padding);
}

.confetti-img {
  width: 160px;
}

.welcome-text {
  font-size: 20px !important;
  font-weight: bold !important;
  padding-top: 50px;
}

.create-first-giveaway-text {
  font-size: 20px !important;
  padding-top: 10px;
}
