@import './styles/foundation.scss';
@import './styles/login.scss';
@import './styles/manage.scss';
@import './styles/details.scss';
@import './styles/participants.scss';

.logo {
  width: 235px;
}

.back-btn {
  margin-left: 75px;
  margin-top: 20px;

  @include mobile {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.app-bar-container {
  justify-content: space-between;
  align-items: center;
  padding: $app-bar-padding;
  background-color: white;
  height: $app-bar-height;
}

.nav-logo {
  width: 180px;
  margin-left: 60px;

  @include mobile {
    margin-left: 20px;
  }
}

.profile-menu-container {
  flex-grow: 0;
  margin-right: 60px;

  @include mobile {
    margin-right: 20px;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999999;

  &.nobackground {
    background-color: transparent;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 674px;
    max-width: 100%;
    height: 434px;
    background-color: white;
    border-radius: 15px;

    @include mobile {
      border-radius: 0;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      padding-top: 22px;
    }

    .img {
      height: 130px;
    }

    .description {
      width: 454px;
      font-size: 18px !important;
      text-align: center !important;
      margin-top: 29px;

      @include mobile {
        width: 300px;
      }
    }

    .ok {
      width: 176px;
      height: 42px;
      text-transform: none !important;
      border-radius: 10px !important;
      font-size: 18px !important;
      font-weight: bold !important;
      margin-top: 22px;
    }
  }
}

.title {
  font-weight: bold !important;
  font-size: 35px !important;
  color: $dark-color;
  margin-top: 20px !important;
  margin-bottom: 22px !important;
  margin-left: 75px !important;

  @include mobile {
    margin-left: 10px !important;
  }
}
