@import './foundation.scss';

.logo {
  width: 235px;
}

.login-page-container {
  background-color: $primary-color;
  height: 100vh;
}

.login-card {
  width: 605px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.login-sentence {
  margin-top: 20px;
  width: 80%;
  text-align: center;
}

.login-image-container {
  position: relative;
  width: 450px;
  height: 420px;
  max-width: 100%;
}

.login-dart {
  position: absolute;
  height: 250px;
  left: 0;
  bottom: 0;
}

.login-trophy {
  position: absolute;
  height: 300px;
  top: 0;
  right: 0;
}

.app-bar-container {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  height: 60px;
}

.nav-logo {
  width: 180px;
  margin-left: 120px;
}

.profile-menu-container {
  flex-grow: 0;
  margin-right: 120px;
}
